# Test real del modelo

### Con el modelo entrenado, ahora vamos a predecir datos reales.

In [ ]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import joblib
from google.colab import drive
drive.mount('/content/drive')
%matplotlib inline

Mounted at /content/drive

In [ ]:
df = pd.read_csv('/content/drive/My Drive/DATA_SCIENCE/Factor_Energia/docs/leads_test_03112020.csv', engine='python',  sep=';')
df.head()

   Telf1-3 Digitos  Telf1-1 Digitos  ...  es_vivienda_habitual  Comercializadora
0              950                9  ...                   NaN             927.0
1              938                9  ...                   NaN             762.0
2              937                9  ...                   NaN              91.0
3              934                9  ...                   NaN              91.0
4              934                9  ...                   NaN               NaN

[5 rows x 14 columns]

In [ ]:
df.shape

(2116, 14)

In [ ]:
df.isnull().sum()

Telf1-3 Digitos                     0
Telf1-1 Digitos                     0
Telf2-3 Digitos                  2116
Telf2-1 Digitos                  2116
dir_cp                              0
CIF primera letra                   0
NOM                                 4
codigo tarifa                       0
potencias_contratadas_en_w_p1       0
Consumo                             0
codigo_empresa_distribuidora        0
codigo_tension_v                    0
es_vivienda_habitual             2115
Comercializadora                    8
dtype: int64

Sustituimos los *missing values* de la **comercializadora**, por la comercializadora m√°s repetida:

In [ ]:
df['Comercializadora'].value_counts().index[0]

91.0

In [ ]:
replacements = {'Comercializadora': 91}
df.fillna(replacements, inplace=True)

Cargamos el modelo entrenado:

In [ ]:
modelo = '/content/drive/My Drive/DATA_SCIENCE/Factor_Energia/docs/random_forests4.joblib'

In [ ]:
best_model = joblib.load(modelo)

Utilizamos las siguientes variables para predecir el estado final de los clientes:

In [ ]:
features_list = ['codigo tarifa', 'potencias_contratadas_en_w_p1', 'Consumo',
                 'codigo_tension_v', 'Comercializadora', 'dir_cp']
test = df[features_list]

In [ ]:
prediccion = best_model.predict(test)

Generamos un data frame para guardar las predicciones con dos referencias: la letra del CIF y el nombre.

In [ ]:
df_sub = pd.DataFrame({'CIF primera letra': df['CIF primera letra'], 'NOM': df['NOM'], 'Prediccion Estado Final': prediccion})

In [ ]:
df_sub.to_csv('/content/drive/My Drive/DATA_SCIENCE/Factor_Energia/docs/prediccion_final.csv', index=False)

In [ ]:
df_sub.head()

  CIF primera letra             NOM  Prediccion Estado Final
0                 2     ENCARNACION                        0
1                 7            JOAN                        0
2                 3         ANTONIO                        0
3                 3      MARIA ROSA                        0
4                 5  JOSE FRANCISCO                        1

In [ ]:
df_sub[df_sub['Prediccion Estado Final'] == 1].value_counts()

CIF primera letra  NOM             Prediccion Estado Final
3                  ANTONIO         1                          28
                   FRANCISCO       1                          15
                   JOSE            1                          14
                   MANUEL          1                           9
                   JUAN            1                           8
                                                              ..
4                  JESUS           1                           1
                   JORDI           1                           1
                   JOSE  ABELARDO  1                           1
                   JOSE DANIEL     1                           1
2                  AGRIPINA        1                           1
Length: 338, dtype: int64



---